#screenshot-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10001;
    cursor: crosshair;

    display: grid;
    place-items: center;
    font-size: 32px;
    font-weight: bold;
    user-select: none;
}

#screenshot-selection {
    position: fixed;
    background: rgba(0, 255, 0, 0.1);
    border: 2px solid #ffffff;
    display: none;
    z-index: 10000;
}